.card {
    height: 50px;
    width: 80%;
    border: 0.2px solid rgb(134, 133, 133);
    padding-top: 15px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
